.sliding-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .prev-button,
  .next-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .image-container {
    width: 200px; /* Adjust the width as per your requirements */
    height: 200px; /* Adjust the height as per your requirements */
    overflow: hidden;
  }
  
  .sliding-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-gallery-container {
    height: 300px; /* Set the desired height here */
  }